@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #254d4d;
  --text-dark: #171717;
  --text-light: #737373;
  --extra-light: #f4f6f5;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Merriweather", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--primary-color);
}

.section__description {
  font-size: 1.1rem;
  color: var(--text-light);
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--header-font);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.nav__header > div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--primary-color);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-weight: 500;
  color: var(--white);
  cursor: pointer;
}

.nav__search {
  display: none;
}

.header__container {
  display: grid;
  overflow: hidden;
}

.header__image {
  z-index: -99;
  grid-area: 1/1/2/2;
}

.header__image img {
  width: 900px;
  margin-left: auto;
}

.header__content {
  grid-area: 1/1/2/2;
  display: flex;
  align-items: center;
  z-index: -1;
}

.header__content > div {
  max-width: 500px;
  padding: 4rem 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}

.header__content h1 {
  margin-bottom: 1rem;
  font-size: 4rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--primary-color);
}

.header_content p {
  font-size: 1.2rem;
  color: var(--text-light);
}

@media (width > 768) {
}
nav {
  position: relative;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

.nav__header {
  flex: 1;
  padding: 0;
  background-color: transparent;
}

.nav__menu__btn {
  display: none;
}

.nav__logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.nav__logo .logo {
  color: var(--primary-color);
}

.nav__links {
  position: static;
  padding: 0;
  width: fit-content;
  flex-direction: row;
  gap: 3rem;
  background-color: transparent;
  transform: none;
}

.nav__links a {
  color: var(--text-dark);
}

.nav__links a:hover {
  color: var(--primary-color);
}

.nav__search {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.nav__search input {
  padding-block: 5px;
  outline: none;
  border: none;
  width: 0;
  font-size: 1rem;
  color: var(--text-dark);
  border-bottom: 1px solid var(--text-light);
  transition: 0.3s;
}

.nav__search.open input {
  width: 100%;
  max-width: 15rem;
}

.nav__search span {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-dark);
  cursor: pointer;
}

.nav__search div i {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-dark);
  cursor: pointer;
}

.nav__dropdown {
  border-radius: 10px;
  padding: 20px;
  padding-right: 100px;
  background-color: white;
  top: 80px;
  position: absolute;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.nav__dropdown__animation {
  transform: rotate(90deg);
  transition: all;
}

.nav__dropdown p {
  font-weight: 500;
  text-decoration: underline;
}

.nav__dropdown ul {
  text-indent: 30px;
}

.nav__dropdown ul li a:hover {
  color: #5d5d5d;
}

.search__items {
  position: absolute;
  top: 0;
  transform: translateY(40px);
  background-color: #fff;
  border-radius: 5px;
  min-width: 280px;
  border: 1px solid #ddd;
  z-index: 2147483647;
  display: flex;
  flex-direction: column;
}
.search__items a {
  color: black;
  border-bottom: 1px solid #ddd;
  margin-inline: 10px;
  margin-top: 10px;
  text-decoration: none;
  display: block;
}

.search__items a:nth-last-child(-n + 1) {
  color: black;
  border: none;
  margin-inline: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  display: block;
}

.search__items a:hover {
  color: #989898;
}

.hidden {
  display: none;
}

.footer {
  background-color: var(--primary-color);
  overflow-x: hidden;
}

.footer__container {
  display: grid;
  gap: 4rem 2rem;
}

.footer__logo {
  margin-bottom: 1rem;
}

.footer__logo .logo {
  color: var(--white);
}

.footer__col p {
  margin-bottom: 2rem;
  color: var(--extra-light);
  opacity: 0.8;
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__socials a {
  font-size: 1.5rem;
  color: var(--white);
}

.footer__socials a:hover {
  opacity: 0.5;
}

.footer__col h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--white);
}

.footer__links {
  display: grid;
  gap: 1rem;
}

.footer__links a {
  color: var(--extra-light);
  opacity: 0.8;
}

.footer__links a:hover {
  opacity: 1;
}

.footer__bar {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--extra-light);
  opacity: 0.8;
  text-align: center;
}

.footer__container {
  grid-template-columns: repeat(2, 1fr);
}

.footer__container {
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 992px) {
  .nav__links {
    flex-basis: 100%;
    flex-wrap: nowrap;
    order: 3;
    justify-content: center;
  }
  .footer__container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .footer__container:nth-child(n + 1) {
    grid-template-columns: repeat(3, 8rem);
  }
  #main__footer {
    grid-area: 1 / 1 / 2 / 6;
  }
}

@media screen and (max-width: 767px) {
}
