body {
  margin: 0;
  font-family: Poppins;
}

svg {
  width: 30px;
}

a {
  text-decoration: none;
  color: #2f2f2f;
}

button {
  cursor: pointer;
}

.container {
  max-width: 90vw;
  margin: auto;
  text-align: center;
  padding-top: 10px;
  transition: 0.5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.icon-cart {
  position: relative;
}

.icon-cart i {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-dark);
  cursor: pointer;
}

.icon-cart span {
  background-color: #254d4d;
  position: absolute;
  top: 50%;
  right: -20px;
  width: 30px;
  height: 30px;
  font-size: small !important;
  color: #fff !important;
  border-radius: 50%;
  font-weight: 500 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: xx-large;
}

/* cartTab */
.cartTab {
  background-color: #254d4d;
  color: #eee;
  width: 400px;
  max-width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  z-index: 99;
}

.cartTab h1 {
  padding: 20px;
  margin: 0;
  font-weight: 300;
}

.cartTab .btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cartTab .btn button {
  background-color: #eee;
  border: none;
  font-family: Poppins;
  font-weight: 500;
}

.cartTab .btn button.close {
  background-color: #d7d7d7;
}

.cartTab .listCart::-webkit-scrollbar {
  width: 0;
}

.cartTab {
  right: -400px;
  transition: 0.5s;
}

body.activeTabCart .cartTab {
  right: 0;
}

/* list item product */
.listProduct .item img {
  z-index: -1;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.listProduct {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.item div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.item div p {
  font-weight: 200;
  grid-area: 1/1/1/1;
  text-wrap: nowrap;
}
.item div .price {
  grid-area: 2/1/2/1;
  letter-spacing: 7px;
  font-size: small;
  text-align: start;
  font-weight: 600;
}

.item div button {
  font-weight: 600;
  text-align: end;
  border: none;
  background-color: transparent;
  grid-area: 1/2/1/2;
  color: #353432;
  transition: all;
}

.item div button:hover {
  color: #5d5d5d;
}

.listCart .item {
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  align-items: center;
  text-align: center;
}

.listCart .item .quantity {
  display: flex;
}

.listCart .item .quantity span {
  width: 25px;
  height: 25px;
  background-color: #eee;
  color: #000;
  border-radius: 50%;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.listCart .item .quantity span:nth-child(2) {
  background-color: transparent;
  color: #fff;
}
.listCart .item .image img {
  aspect-ratio: 1/1;
  object-fit: cover;
}

.listCart .item:nth-child(even) {
  background-color: #eee1;
}

.detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  text-align: left;
  margin: 20px;
}

.detail .image img {
  width: 100%;
  z-index: -1;
}

.detail .image {
  position: relative;
  z-index: -1;
}

.detail .image::before {
  position: absolute;
  width: 300px;
  height: 300px;
  content: "";
  background-color: #94817733;
  z-index: -1;
  border-radius: 190px 100px 170px 180px;
  left: calc(50% - 150px);
  top: 50px;
}

.detail .name {
  font-size: xx-large;
  padding: 40px 0 0 0;
  margin: 0 0 10px 0;
}

.detail .price {
  font-weight: bold;
  font-size: x-large;
  letter-spacing: 7px;
  margin-bottom: 20px;
}

.detail .buttons button {
  background-color: #eee;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  font-family: Poppins;
  font-size: large;
}

.detail svg {
  width: 15px;
}

.detail .buttons button:nth-child(2) {
  background-color: #2f2f2f;
  color: #eee;
  display: inline-flex;
  gap: 20px;
  box-shadow: 0 10px 20px #2f2f2f77;
}

.detail .buttons svg {
  transform: translateY(5px);
}

.detail .description {
  font-weight: 300;
}

.similarProduct {
  margin: 20px;
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}

.contactForm {
  filter: none;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.contactForm form {
  flex-direction: column;
  display: flex;
  gap: 20px;
}

.contactForm p {
  font-family: poppins;
  text-align: center;
  margin-bottom: 20px;
  font-size: x-large;
}
.contactForm img {
  width: 20vw;
}
.contactForm div {
  display: flex;
  align-items: center;
}

.contactForm i {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  margin: 15px;
}

.contactForm input[type="text"],
input[type="email"],
textarea {
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}

.contactForm input[type="text"]:hover,
input[type="email"]:hover {
  box-shadow: 0px 0px 20px -17px;
}

.contactForm input[type="submit"] {
  outline: none;
  border: none;
  padding: 5px;
  font-size: large;
  border-radius: 10px;
  color: #fff;
  background-color: #254d4d;
}

.contactForm input[type="submit"]:hover {
  transition: all;
  cursor: pointer;
  transform: scale(103%);
  box-shadow: 0px 0px 20px -17px;
}

.contactForm textarea {
  height: 100px;
}

.contactForm div {
  display: flex;
  align-items: center;
}

.similarProduct .item {
  min-width: 300px;
  margin-right: 10px;
}

.messageContainer {
  position: fixed;
  bottom: 0;
  right: 0;
}

.messageButton {
  background-color: #254d4d;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 30px;
  margin: 20px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}
.messageButton i {
  color: white;
  font-size: x-large;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.messageBox {
  position: relative;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  background-color: white;
  margin: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.messageBox textarea {
  resize: none;
  margin-inline-start: 10px;
  width: 75%;
}

.messageWindow {
  height: 215px;
  max-height: 215px;
  margin: 15px 15px 5px 15px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.messageWindow .sender {
  display: flex;
  justify-content: end;
}

.messageWindow .sender span {
  background-color: #53d769;
  color: white;
}

.messageWindow .recieved {
  display: flex;
  justify-content: start;
}

.messageWindow .recieved span {
  background-color: #8e8e93;
  color: white;
}

.messageWindow span {
  padding: 10px;
  text-wrap: wrap;
  margin-top: 4px;
  max-width: 75%;
  border-radius: 10px;
}

.blur {
  position: fixed;
  z-index: 9998;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #33333377;
  backdrop-filter: blur(8px);
}

@media screen and (max-width: 992px) {
  .contactForm {
    width: 95%;
  }
  .contactForm img {
    width: 40vw;
  }
  .icon-cart {
    transform: translateX(-10px);
  }
  .listProduct {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .listProduct {
    grid-template-columns: repeat(2, 1fr);
  }
  .detail {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .detail .image img {
    width: unset;
    height: 40vh;
  }
  .detail .name {
    font-size: x-large;
    margin: 0;
  }
  .detail .buttons button {
    font-size: small;
  }
}
