<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/products.css" />
    <title>Web Design Mastery | furni.shop</title>
  </head>
  <body>
    <%- include('layouts/navbar', {categories:categories}); -%>
    <header class="section__container header__container" id="home">
      <div class="header__image">
        <img src="header.AVIF" alt="header" />
      </div>
      <div class="header__content">
        <div>
          <h1>We Help You Make Modern Interior</h1>
          <p>
            We will help you to make an elegant and luxurious interior designed
            by professional interior designer.
          </p>
        </div>
      </div>
    </header>
    <%- include('layouts/message'); %> <%- include('layouts/footer'); -%>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/js/main.js" type="module"></script>
  </body>
</html>
