<footer class="footer" id="contact">
  <div class="section__container footer__container">
    <div class="footer__col" id="main__footer">
      <div class="footer__logo">
        <a href="/" class="logo">Taylor Galerie</a>
      </div>
      <p>
        Join us in transforming your living spaces with furniture that blends
        elegance and practicality seamlessly.
      </p>
      <ul class="footer__socials">
        <li>
          <a
            href="https://www.facebook.com/profile.php?id=61567943060755&mibextid=LQQJ4d&rdid=nj3S1liAgb2ZlsOR&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2FSTQVJdFfFSRZY2DB%2F%3Fmibextid%3DLQQJ4d"
            ><i class="ri-facebook-fill"></i
          ></a>
        </li>
        <li>
          <a href="https://www.instagram.com/taylorgalerie/"
            ><i class="ri-instagram-fill"></i
          ></a>
        </li>
        <li>
          <a href="https://www.tiktok.com/@taylorgalerie?_t=8qsYJjI9Ni9&_r=1"
            ><i class="ri-tiktok-fill"></i
          ></a>
        </li>
        <li>
          <a href="#"><i class="ri-pinterest-fill"></i></a>
        </li>
      </ul>
    </div>
    <div class="footer__col">
      <h4>Services</h4>
      <ul class="footer__links">
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="#">Press</a></li>
        <li><a href="#">Payrol</a></li>
        <li><a href="#">Library</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Help Center</a></li>
      </ul>
    </div>
    <div class="footer__col">
      <h4>Resources</h4>
      <ul class="footer__links">
        <li><a href="#">Pricing</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Contact Support</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms</a></li>
      </ul>
    </div>
    <div class="footer__col">
      <h4>Support</h4>
      <ul class="footer__links">
        <li><a href="/contact">Contact</a></li>
        <li><a href="#">Affiliates</a></li>
        <li><a href="#">Sitemap</a></li>
        <li><a href="#">Cancelation Policy</a></li>
        <li><a href="#">Security</a></li>
      </ul>
    </div>
  </div>
  <div class="footer__lang">
    <a href="/set-language?lang=en">English</a> |
    <a href="/set-language?lang=fr">Français</a>
  </div>
  <div class="footer__bar"></div>
</footer>
<script>
  const footerBar = document.querySelector(".footer__bar");
  footerBar.innerHTML = `Copyright © ${new Date().getFullYear()} Taylor Galerie. All rights reserved.`;
</script>
