<div class="messageContainer">
  <div class="messageButton">
    <i class="ri-chat-1-line"></i>
  </div>
  <div class="messageBox hidden">
    <div class="messageWindow"></div>
    <textarea id="messageBox" placeholder="Enter your message"></textarea>
  </div>
</div>
<script type="module">
  import { createRoom, baseUrl, httpProtocol } from "/js/helpers.js";
  const messageButton = document.querySelector(".ri-chat-1-line");
  const messageBox = document.querySelector(".messageBox");
  const messageBoxText = document.querySelector("#messageBox");
  const messageWindow = document.querySelector(".messageWindow");
  var chat_room;
  var ws;

  messageButton.addEventListener("click", () => {
    if (messageBox.classList.contains("hidden")) {
      messageBox.classList.remove("hidden");
      chat_room = sessionStorage.getItem("chat_room") || createRoom();

      ws = ws
        ? ws
        : new WebSocket(
            `${httpProtocol(
              true
            )}//${baseUrl()}/ws/messages?chat_room=${chat_room}`
          );

      ws.addEventListener("message", (e) => {
        const msg = JSON.parse(e.data);

        if (Array.isArray(msg)) {
          msg.forEach((e) => {
            messageWindow.innerHTML += `<div class=${
              e.is_client ? "sender" : "recieved"
            }><span>${e.message}</span></div>`;
          });
        } else {
          messageWindow.innerHTML += `<div class=${
            msg.is_client ? "sender" : "recieved"
          }><span>${msg.message}</span></div>`;
          messageWindow.scrollTop = messageWindow.scrollHeight;
        }
      });
    } else {
      messageBox.classList.add("hidden");
    }
  });

  messageBoxText.addEventListener("keydown", async (e) => {
    if (e.keyCode == 13) {
      if (messageBoxText.value == "") {
        e.preventDefault();
        messageBoxText.value = "";

        return false;
      }
      e.preventDefault();

      ws.send(
        JSON.stringify({
          msg: messageBoxText.value,
          is_client: true,
        })
      );

      messageBoxText.value = "";

      return false;
    }
  });
</script>
